<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
            <h1 class="text-light">
                <a href="/"><span>KUMeet</span></a>
            </h1>
        </div>
        {{>navbar}}
    </div>
</header>