<section id="login-container" class="container">
    <div class="section-title" data-aos="fade-down">
        <h2>Welcome To Your Profile</h2>
        <h2>{{user.full_name}}</h2>
    </div>
    <br>
</section>